

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
}

body{
    font-family: "mulish", sans-serif;
    
}

.page{
    max-width: 1600px;
    margin: 0 auto;
    padding: 56px 180px;
}

.wrapper{
    max-width: 1600px;
    margin: 0 auto;
    padding: 56px 180px;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 160px;
    height: 41px;
    left: 191px;
    top: 56px;
}

.nav-items{
    display: flex;
}

.nav-items li a{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color:#1F1534;
    opacity: 0.5;
    margin: 0 20px;
}

.nav-items li a.active{

    font-weight: bold;
    opacity: 1;

}

.elements{
    position: absolute;
    left: 0;
    top: 160px; 
    
}

.hero-container {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
}

.hero-container .left{
    margin-right: 110px;
}

.hero-container .left h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 25px;
    width: 430px;
    color: #000000;
}

.hero-container .left p{
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7d7987;
    margin-bottom: 45px;
    width: 420px;


}

.btn{
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    padding: 15px 40px;
    border-radius: 55px;
}

.btn-primary{
    color: #FFFFFF;
    background: #458FF6;
}



 /* section 2 */

 .service{
    grid-area: ourServices;
    padding-top: 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.service-title{
    font-style: normal;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    margin: 0;
}
.service-line{
    align-self: center;
}
.service-description{
    margin-top: 32px;
    font-weight: 300;
    color: #7d7987;
    margin-left: -3px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
.services-servicebox{
    background: url("../images/vector.svg") no-repeat top -185px left -6.18%,
    url("../images/element.svg") no-repeat right 30px top 367px;
    justify-content: center;
    padding-top: 80px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 37px 34px;
}

.services{
    box-sizing: border-box;
    width: 350px;
    height: 354px;
    background-color: #ffffff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    padding: 54px 0 0 36px;
}
.services-title{
    font-size: 24px;
    margin: 29px 0 13px 0;
}
.services-description{
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}
.service-btn{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #458FF6;
    background: #ffffff;
    line-height: 60px;
    width: 200px;
    height: 56px;
    margin-top: 69px;
    align-self: center;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
}

 /* providers section */

 .providers{

    display: flex;
    max-width: 1273px;
    max-height: 477px;
    left: 135px;
    margin-top: 220px;
}
.providers-illustration{
    height: 477px;
    width: 650px;
}
.providers-info{
    display: flex;
    flex-direction: column;
    margin-left: 142px;
}
.providers-info-title{
    width: 481px;
    height: 112px;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    line-height: 56px;
    margin-top: 78px;
}
.providers-line{
    align-self: auto;
}
.providers-info-description{
    color: #7D7987;
    font-weight: 300;
    font-size: 18px;
    margin-top: 31px;
    max-width: 450px;
    max-height: 120px;
    line-height: 30px;
}
.providers-btn{
    width: 200px;
    height: 56px;
    margin-top: 40px;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    background: #ffffff;
    color: #458ff6;
    font-size: 18px;
    line-height: 60px;
    font-weight: bold;
}

/* download mobile app section */

.mobile-app{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-app-info-title{
    width:481px;
    height: 112px;
    font-size: 36px;
    font-weight: bold;
    color:#000000;
    line-height: 56px;
    margin-top: 78px;
}


.mobile-app-line{
    align-self: auto;

}

.mobile-app-info-description{

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    margin-top: 31px;
    
}
.mobile-app-btn{

    left: 17.5%;
    right: 70%;
    top: 57.56%;
    bottom: 41.48%;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
}

.app-right{
    height: 434;
    width:660px;
    margin-top: 126px;
}